{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marcenaria</title>
</head>
<body>
    <div class="container">
        <nav>
            <div class="presentation">
                <img src="" alt="">
                <span>Nome do usuário</span>
            </div>
            <div class="menu">
                <!-- Aqui será criado o menu com as opções gerais do app -->
            </div>
            <div class="orders">
                {% for order in orders %}
                <div class="order">
                    <p>{{order.order_number}}</p>
                    
                </div>
                {% endfor %}
            </div>

            <a href="">Novo Pedido</a>
            <div class="new-order">
                <form action="POST">
                    {% csrf_token %}
                    <div class="input-group">
                        <label for="order_number">N° do Pedido</label>
                        {{form_order.order_number}}
                    </div>
                    <div class="input-group">
                        <label for="customer_name">Nome do Cliente</label>
                        {{form_order.customer_name}}
                    </div>
                    <div class="input-group">
                        <label for="product_name">Produto</label>
                        {{form_order.product_name}}
                    </div>
                    <div class="input-group">
                        <label for="description">Descrição</label>
                        {{form_order.description}}
                    </div>
                    <div class="input-group">
                        <label for="term">Prazo de entrega</label>
                        {{form_order.term}}
                    </div>
                </form>
            </div>
        </nav>

    </div>
</body>
</html>