{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/reset.css' %}?v=1">
    {% block 'css' %}
    {% endblock %}
    <title>Marcenaria</title>
    
</head>
<body>
    <div class="container">
        <nav>
            <div class="presentation">
                <img src="" alt="">
                <span>Nome do usuário</span>
            </div>
        </nav>
        <div class="content">
            {% include 'menu.html' %}
            {% include 'orders.html' %}
            {% include 'new-order.html' %}
        </div>
    </div>
</body>
</html>