{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marcenaria - Login</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'styles/reset.css' %}">
</head>
<body style="background: linear-gradient(to bottom, #8e4e1f, #40210f);">

    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="text-center p-4 shadow-lg" style="width: 450px; background-color: rgb(244, 244, 244); border-radius: 12px;">
            <div class="title mb-4">
                <h1 style="font-size: 2.5rem; color: #8e4e1f;">Marcenaria</h1>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="input-group input-group-lg mb-3">
                    {{ form.username }}
                </div>
                <div class="input-group input-group-lg mb-3">
                    {{ form.password }}
                </div>
                <div class="mb-3 d-flex flex-column">
                    <button type="submit" class="btn btn-primary btn-lg mb-2">Entrar</button>
                </div>
            </form>
            {% if messages %}
            <div class="messages mt-3">
                {% for message in messages %}
                <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/dep.js' %}"></script>

</body>
</html>
