{% load static %}

<div class="menu">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a href="#" class="nav-link text-white p-3 rounded mb-2 bg-primary">Perfil</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-white p-3 rounded mb-2 bg-primary">Adicionar colaborador</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'new-order' %}" class="nav-link text-white p-3 rounded mb-2 bg-primary">Novo Pedido</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-white p-3 rounded mb-2 bg-primary">Configurações</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-white p-3 rounded mb-2 bg-primary">Notificações</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-white p-3 rounded mb-2 bg-primary">Sair</a>
        </li>
    </ul>
</div>
